@import "tailwindcss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  color: #0a0a0a;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

::selection {
  background: #0a0a0a;
  color: white;
}
